body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
    margin: 0 5%;
}
.half-width img{
    width: 90%;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 40px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(249, 166, 13), rgb(233, 132, 132));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.second-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 20px;
}
.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.flex-container{
    display: flex;
}
.shadow-box{

}
#orange{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-left: 7px solid orange ;
}
#blue{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-left: 7px solid blue ;
}
footer p{
    text-align: center;
    margin-top: 150px;
}